@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
    h1 { @apply text-black text-xl font-accent font-bold border-l-8 border-primary pl-4 my-8 uppercase }
    h2 { @apply text-black text-lg font-accent font-semibold border-l-[6px] border-accent pl-4 my-6 uppercase }
    h3 { @apply text-black text-base font-accent font-medium border-l-4 border-gold pl-4 my-4 uppercase }
    p {@apply text-black text-lg font-light}
    .page-description { @apply font-extralight text-base mb-8 leading-relaxed }
}
@layer utilities {
    .flex-center {
        @apply justify-center items-center
    }
    .hover-element {
        @apply 
        hover:text-black-medium
    }
    .hover-back {
        @apply
       hover:bg-slate-100
       hover:pl-8
       hover:text-black-medium
    }
    .hover-link {
        @apply
        border-r-8
        border-transparent
        transition-all
        duration-150
        ease-in-out
        hover:border-black
        hover:pl-8
        hover:text-black-medium
    }
    .active-navigation {
        @apply
        bg-black
        text-white
        shadow-lg
        origin-bottom
        scale-y-110
        outline-none
    }
    .focus-element {
        @apply
        focus:outline
        focus:outline-2
        focus:outline-offset-0
        focus:outline-black
    }
    .transition-element {
        @apply
        transition-all
        duration-150
        ease-in-out
    }
    .clip-checkbox {
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform-origin:bottom left;
    }
    .clip-product-card {
        clip-path: polygon(0 70%, 100% 60%, 100% 100%, 0% 100%);
        transform-origin:bottom left;
    }
}
/** product card */
.arc { @apply before:block before:content-[""] before:w-[200%] before:h-[203px] before:absolute before:bottom-0 before:left-1/2 before:-translate-x-1/2 before:z-[1] before:rounded-tr-[50%] before:rounded-tl-[50%] }
.product-card_compare {
    @apply 
    before:block 
    before:content-[""] 
    before:w-[200%] 
    before:h-full 
    before:absolute 
    before:bottom-0 
    before:left-1/2 
    before:-translate-x-1/2 
    before:rounded-br-[50%] 
    before:rounded-bl-[50%]
}
.product-card__primary .arc  { @apply before:bg-gradient-linear-primary before:bg-opacity-80  }
.product-card__primary .product-card_compare { @apply before:bg-gradient-linear-primary bg-opacity-80 }
.product-card__accent .arc { @apply before:bg-gradient-linear-accent before:bg-opacity-80 }
.product-card__accent .product-card_compare { @apply before:bg-gradient-linear-accent bg-opacity-80 }
.product-card__black .arc { @apply before:bg-gradient-linear-black  before:bg-opacity-80  }
.product-card__black .product-card_compare { @apply before:bg-gradient-linear-black bg-opacity-80 }
.product-card__green .arc { @apply before:bg-gradient-linear-green before:bg-opacity-80 }
.product-card__green .product-card_compare { @apply before:bg-gradient-linear-green bg-opacity-80 }
.product-card__gold .arc{ @apply before:bg-gradient-linear-gold before:bg-opacity-80 }
.product-card__gold .product-card_compare { @apply before:bg-gradient-linear-gold bg-opacity-80 }

/** menu */
.triangle {
    @apply
    before:w-0
    before:h-0
    before:absolute
    before:bottom-0
    before:left-1/2
    before:-translate-x-full
    before:border-b-4
    before:border-t-8
    before:border-l-8
    before:border-r-8
    before:border-b-primary
    before:border-l-transparent
    before:border-r-transparent
    before:border-t-transparent


}
